<ion-header>
<ion-toolbar class="toolbar">
  <div class="titulo">
    <ion-title class="titulo-nome"> Onpharma </ion-title>
  </div>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-cadastro">
    <div class="titulo">
      <ion-title class="titulo-cadastro"> Cadastro </ion-title>
    </div>
    <div class="cadastro">
      <ion-input class="input" placeholder="Nome" type="text" required>
      </ion-input>
      <ion-input class="input" placeholder="Sobrenome" type="text" required>
      </ion-input>
      <ion-input class="input" placeholder="E-mail" type="email" required>
      </ion-input>
      <ion-input class="input" placeholder="CPF" type="text" required>
      </ion-input>
      <ion-input class="input" placeholder="Rua" type="text" required>
      </ion-input>
      <ion-input class="input" placeholder="Numero" type="number" required>
      </ion-input>
      <ion-input class="input" placeholder="CEP" type="number" required>
      </ion-input>
    </div>
    <div class="botoes">
      <button class="botoes-edit">Editar</button>
      <button class="botoes-edit">Salvar</button>
    </div>
  </ion-card>
</ion-content>
