<ion-header>
  <ion-toolbar class="toolbar">
    <div class="titulo">
      <ion-title class="titulo-nome"> Onpharma </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<div>
  <ion-searchbar
    animated="true"
    placeholder="Buscar"
    show-clear-button="always"
    clear-icon="trash-bin"
    value="Buscar"
    color="secondary"
  ></ion-searchbar>
</div>
<ion-content>
  <div class="card2">
    <div class="card">
      <ion-card class="teste">
        <ion-card-header>
          <ion-card-subtitle>Promoção</ion-card-subtitle>
          <ion-card-title>R$ 10,00</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img
            src="https://images.vexels.com/media/users/3/128208/isolated/preview/a43a384ffb38a4e7cbbe156f84ba3720-icone-de-tira-de-remedio.png"
            alt=""
            class="img"
          />
          <button class="comprar">Comprar</button>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="card">
      <ion-card class="teste">
        <ion-card-header>
          <ion-card-subtitle>Promoção</ion-card-subtitle>
          <ion-card-title>R$ 9,99</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img
            src="https://images.vexels.com/media/users/3/128208/isolated/preview/a43a384ffb38a4e7cbbe156f84ba3720-icone-de-tira-de-remedio.png"
            alt=""
            class="img"
          />
          <button class="comprar">Comprar</button>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="card">
      <ion-card class="teste">
        <ion-card-header>
          <ion-card-subtitle>Promoção</ion-card-subtitle>
          <ion-card-title>R$ 10,00</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img
            src="https://images.vexels.com/media/users/3/128208/isolated/preview/a43a384ffb38a4e7cbbe156f84ba3720-icone-de-tira-de-remedio.png"
            alt=""
            class="img"
          />
          <button class="comprar">Comprar</button>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="card">
      <ion-card class="teste">
        <ion-card-header>
          <ion-card-subtitle>Promoção</ion-card-subtitle>
          <ion-card-title>R$ 10,00</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img
            src="https://images.vexels.com/media/users/3/128208/isolated/preview/a43a384ffb38a4e7cbbe156f84ba3720-icone-de-tira-de-remedio.png"
            alt=""
            class="img"
          />
          <button class="comprar">Comprar</button>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="card">
      <ion-card class="teste">
        <ion-card-header>
          <ion-card-subtitle>Promoção</ion-card-subtitle>
          <ion-card-title>R$ 10,00</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img
            src="https://images.vexels.com/media/users/3/128208/isolated/preview/a43a384ffb38a4e7cbbe156f84ba3720-icone-de-tira-de-remedio.png"
            alt=""
            class="img"
          />
          <button class="comprar">Comprar</button>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="card">
      <ion-card class="teste">
        <ion-card-header>
          <ion-card-subtitle>Promoção</ion-card-subtitle>
          <ion-card-title>R$ 10,00</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img
            src="https://images.vexels.com/media/users/3/128208/isolated/preview/a43a384ffb38a4e7cbbe156f84ba3720-icone-de-tira-de-remedio.png"
            alt=""
            class="img"
          />
          <button class="comprar">Comprar</button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
