<ion-header>
  <ion-toolbar class="toolbar">
    <div class="titulo">
      <ion-title class="titulo-nome"> Onpharma </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <div class="info">
      <h1>Renan Santos</h1>
      <h1>201920856</h1>
    </div>
    <div class="contato">
      <a
        href="https://api.whatsapp.com/send?phone=5521973405265&text=Oi%20Renan%2C%20voce%20tirou%2010!"
        target="_blank"
        >Entre em contato</a
      >
    </div>
  </ion-card>
</ion-content>
